<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style/animations.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="container flexbox">
            <div>
                <img src="assets/img/403144c2-703a-4bde-9866-284dde2ebc41.jpg" class="bounce">
            </div>

            <div>
                <img src="assets/img/403144c2-703a-4bde-9866-284dde2ebc41.jpg" class="shake">
            </div>

            <div>
                <img src="assets/img/403144c2-703a-4bde-9866-284dde2ebc41.jpg" class="rotatex">
            </div>

            <div>
                <img src="assets/img/403144c2-703a-4bde-9866-284dde2ebc41.jpg" class="rotatey">
            </div>

            <div>
                <img src="assets/img/403144c2-703a-4bde-9866-284dde2ebc41.jpg" class="rotatez">
            </div>
        </div>
    </main>
</body>
</html>