<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style/column.css">
    <title>Document</title>
</head>
<body>

    <main>

        <div class="container">

            <div class="row">
                <div class="col two">

                </div>

                <div class="col two">

                </div>
            </div>

            <div class="row">
                <div class="col three">

                </div>

                <div class="col three">

                </div>

                <div class="col three">

                </div>
            </div>

            <div class="row">
                <div class="col four">
                    <img src="assets/img/download (1).png">
                </div>

                <div class="col four">

                </div>

                <div class="col four">

                </div>

                <div class="col four">

                </div>

            </div>

            <div class="row">
                <div class="col seven">

                </div>

                <div class="col five">

                </div>
            </div>

        </div>

    </main>
</body>
</html>