<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style/form.css">
    <title>Document</title>
</head>
    <body>
        <div class="container">
            <div class="form">
                <h2>Registration form</h2>
                <p>Fields with * are requierd</p>
                <form method="POST" action="#" name="registration">
                    <input type="text" name="first_name" placeholder="First_Name *" required>
                    <input type="text" name="last_name" placeholder="Last_Name *" required>
                    <input type="text" name="age" placeholder="Age *" required>
                    <input type="email" name="email" placeholder="Email (abc@email.com) *" required>
                    <input type="tel" name="phone" placeholder="Phone *" required>
                    <input type="text" name="first_name" placeholder="Postal code (A1A 2B2) *" required>
                    <div class="buttons">
                        <input type="reset" value="clear">
                        <input type="submit" value="submit">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>