<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style/base.css">
    <link rel="stylesheet" href="assets/style/header-footer.css">
    <link rel="stylesheet" href="assets/style/hero-banner.css">
    <!-- <link rel="stylesheet" href="assets/style/fixed-background.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="hero-banner">
                <div class="overlay"></div>
                    <div class="container flexbox">
                        <div class="title">
                            <h1>Super Website</h1>
                        </div>
                        <nav>
                            <ul>
                                <li><a href="#" target="_blank">Shop</a></li>
                                <li><a href="#" target="_blank">Contact</a></li>
                                <li><a href="#" target="_blank">About us</a></li>
                                <li><a href="#" target="_blank" class="rounded-button">My account</a></li>
                            </ul>
                        </nav>
                    </div>

                </header>
                
                        <div class="container">
                            <h2 style="color: #fff;"> Web Development basics</h2>
                            <p>The secrets of the web Development carrer</p>
                            <hr>
                            <p>By John Dow</p>
                        </div>
                
                
                <!-- Footer -->

                <header class="footer">
                    <div class="container">
                        <div class="footnav">
                            <ul>
                                <li><a href="#" target="_blank"><i class="fab fa-github"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </header>
             </div>
        </div>
    </div>
</body>
</html>