<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style/insta.css">
    <title>Document</title>
</head>
<body>

    <main>
        <div class="container">

            <div class="row">
                <div class="col three">
                    <img src="assets/img/night-sky.jpg">
                </div>

                <div class="col three">
                    <img src="assets/img/clouds.jpg">
                    
                </div>

                <div class="col three">
                    <img src="assets/img/photo-1470337458703-46ad1756a187.jpg">
                </div>
            </div>

            <div class="row">
                <div class="col three">
                    <img src="assets/img/photo-1519009620163-043a4492d8b8.jpg">
                </div>

                <div class="col three">
                    <img src="assets/img/photo-1624353111058-5e5d91e63637.jpg">
                </div>

                <div class="col three">
                    <img src="assets/img/photo-1608706634832-8453b8675932.jpg">
                </div>
            </div>

        </div>

    </main>
</body>
</html>