<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style/transitions.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="container flexbox">

                <div class="transz1">

                </div>
    
                <div class="transz2">

                </div>

                <h1>Transition</h1>
        </div>
    </main>
</body>
</html>