@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-shadow: none;
    box-sizing: border-box;
    vertical-align: baseline;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}

p, a, li, label, input, textarea, div, span {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smothing: grayscale;
    text-rendering: optimizeLegibility;
    letter-spacing: 0;
}

/* ------head & nav--------- */

body{
  background-color: rgba(250, 250, 250, 0.685);
}

.container {
    position: relative;
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

.nav ul li a{
    text-decoration: none;
    display: inline-block;
}


header {
    min-width: 100%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    box-shadow: 0 5px rgb(146, 146, 146);
}

header div{
    display: flex;
    justify-content: space-between;

}

.title {
    height: 56px;
    padding-left: 50px;
}

.title h1 {
    font-size: 18px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    line-height: 56px;
    letter-spacing: .4px;
    text-transform: uppercase;
}

nav ul{
    list-style: none;
    font-size: 0;
}

nav ul li{ 
    display: inline;
    line-height: 56px;
    cursor: default;
}

nav ul li a{
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    padding: 25px 15px;
    text-decoration: none;
    letter-spacing: .2px;
    text-transform: none;
    cursor: pointer;
}

nav ul li a:hover{
  background-color: #d94d3f;
  font-weight: 500;
}

.mobile-nav{
  overflow: hidden;
}

.mobile-nav p i{
  margin-top: 18px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

/* -------footer---------- */
footer {
  min-width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.87);
  overflow: hidden;
  box-shadow: 0 0 0 5px rgb(146, 146, 146);
}

.footer-content {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.foot-info{
  display: flex;
}

.foot-info p{
  color: black;
  font-weight: 500;
}

.foot-info p:last-child{
  padding-left: 20px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Media queries     By: Andre(MITT Teacher)                                   */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/*
 * Media queries are useful when you want to modify your site 
 * or app depending on a device's general type (such as 
 * print vs. screen) or specific characteristics and parameters 
 * (such as screen resolution or browser viewport width)
 */

 @media screen and (min-width: 320px) {
   nav { display: none; }
   .mobile-nav { display: block; }
 }

@media screen and (min-width: 580px) {
  nav { display: none; }
  .mobile-nav { display: block; }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .container, .row-container {
    max-width: 800px;
  }

  nav { display: block; }
  .mobile-nav { display: none; }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .container, .row-container {
    max-width: 1140px;
  }

  nav { display: block; }
  .mobile-nav { display: none; }

  .col-lg-3 {
    flex: 0 0 25%;
    width: 25%;
  }
}