@charset "utf-8";
@import "base.css";




.hero-banner {
    height: 600px;
    background: #000 url(../img/night-sky.jpg) center center / cover no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
}

.hero-banner h2 {
    font-size: 46px;
    
}

.hero-banner h3{
    font-size: 24px;
    font-weight: 300;
    color: #fff;
}

.hero-banner hr{
    width: 70px;
    margin: 0 auto;
    margin-top: 22px;
    border-top: 3px solid #2c8ae6;
}

.hero-banner p{
    margin-top: 24px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 10;
}